---
layout: default
---

<!-- about.html -->
<div class="post">
  <header class="post-header">
    <h1 class="post-title">
      {% if site.title == "blank" -%}{{ site.first_name }} {{ site.middle_name }}
      <span class="font-weight-bold">{{ site.last_name }}</span>{%- else -%}{{ site.title }}{%- endif %}
    </h1>
    <p class="desc"><b>{{ page.subtitle }}</b></p>
  </header>

  <article>

    In the past three years, diffusion models have emerged as the state-of-the-art method in generative modeling with applications ranging 
    from text-to-image generation to 3D modeling. However, while this framework has seen huge success in image, video, 3D and audio applications, 
    extending diffusion models outside of their original Euclidean generative modeling setting remains challenging. To circumvent some of these issues, 
    several new methods have recently and independently been proposed. As these alternatives now flourish in the literature with great experimental success, 
    this workshop aims at bringing together the different communities working on these topics. Strengthening the connections between the different actors in 
    this field will open new possibilities for interdisciplinary research areas and provide the ground for a unification of the existing frameworks.
    
    <br>
    <br>
    The workshop will be held on July 26/27th at ICML's conference center in Vienna - we look forward to seeing you in Vienna!
    <br>

    <br> We invite researchers in diffusion models, flow matching, stochastic interpolants to submit their latest works to our workshop.
    Topics include (but not limited to) the following topics:

    <ul>
      <li>Schroedinger Bridges</li>
      <li>Flow Matching</li>
      <li>Stochastic Interpolants</li>
    </ul>
    

    <br>
    <br>

          <br>
        <div class="speakers">
            <h2>Keynote Speakers</h2>
            <div class="container">
                <div class="row row-cols-2">

                    <!-- Charlotte Bunne -->
                    <div class="card-item col">
                        <div class="card">
                            <div class="row g-0">
                                <div class="card-img col-md-6">

                                    <img src="/assets/base_img/Charlotte.png" srcset="/assets/base_img/Charlotte.png" style="width: 150px; height: 150px; object-fit: contain;">

                                </div>
                                <div class="col-md-6">
                                    <div class="card-body">
                                        <h6 class="card-title">Charlotte Bunne
                                        </h6>

                                        <h6 class="card-text">Stanford & EPFL
                                        </h6>

                                        <div class="row ml-1 mr-1 p-0">


                                            <div class="website-icon">
                                                <div class="icon" data-toggle="tooltip" title="Website">
                                                    <a href="https://www.bunne.ch" title="Website" target="_blank"
                                                        rel="noopener noreferrer"><i
                                                            class="fas fa-address-card"></i></a>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Valentin De Bortoli -->
                    <div class="card-item col">
                        <div class="card">
                            <div class="row g-0">
                                <div class="card-img col-md-6">

                                    <img src="/assets/base_img/valentin.png" srcset="/assets/base_img/valentin.png" style="width: 150px; height: 150px; object-fit: contain;">
        
                        </div>
                        <div class=" col-md-6">
                                    <div class="card-body">
                                        <h6 class="card-title">Valentin De Bortoli
                                        </h6>

                                        <h6 class="card-text">Google DeepMind
                                        </h6>

                                        <div class="row ml-1 mr-1 p-0">


                                            <div class="website-icon">
                                                <div class="icon" data-toggle="tooltip" title="Website">
                                                    <a href="https://vdeborto.github.io" title="Website"
                                                        target="_blank" rel="noopener noreferrer"><i
                                                            class="fas fa-address-card"></i></a>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Alireza Makhzani -->
                    <div class="card-item col">
                        <div class="card">
                            <div class="row g-0">
                                <div class="card-img col-md-6">

                                    <img src="/assets/base_img/alireza.png" srcset="/assets/base_img/alireza.png" style="width: 150px; height: 150px; object-fit: contain;">

                                </div>
                                <div class="col-md-6">
                                    <div class="card-body">
                                        <h6 class="card-title"> Alireza Makhzani 
                                        </h6>

                                        <h6 class="card-text"> Vector Institute
                                        </h6>

                                        <div class="row ml-1 mr-1 p-0">


                                            <div class="website-icon">
                                                <div class="icon" data-toggle="tooltip" title="Website">
                                                    <a href="https://www.alireza.ai/" title="Website" target="_blank"
                                                        rel="noopener noreferrer"><i
                                                            class="fas fa-address-card"></i></a>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <!-- Bowen Jing -->
                    <div class="card-item col">
                        <div class="card">
                            <div class="row g-0">
                                <div class="card-img col-md-6">

                                    <img src="/assets/base_img/bowen.png" srcset="/assets/base_img/bowen.png" style="width: 150px; height: 150px; object-fit: contain;">

                                </div>
                                <div class="col-md-6">
                                    <div class="card-body">
                                        <h6 class="card-title">Bowen Jing
                                        </h6>

                                        <h6 class="card-text"> MIT
                                        </h6>

                                        <div class="row ml-1 mr-1 p-0">

                                            <div class="website-icon">
                                                <div class="icon" data-toggle="tooltip" title="Website">
                                                    <a href="https://people.csail.mit.edu/bjing/" title="Website" target="_blank"
                                                        rel="noopener noreferrer"><i
                                                            class="fas fa-address-card"></i></a>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>

    <br>
    <br>
        <div class="speakers">
            <h2>Panel</h2>
            <div class="container">
                <div class="row row-cols-2">

                    <!-- Ruiqi Gao -->
                    <div class="card-item col">
                        <div class="card">
                            <div class="row g-0">
                                <div class="card-img col-md-6">

                                    <img src="/assets/base_img/ruiqi.png" srcset="/assets/base_img/ruiqi.png"
                                        style="width: 150px; height: 150px; object-fit: contain;">

                                </div>
                                <div class="col-md-6">
                                    <div class="card-body">
                                        <h6 class="card-title">Ruiqi Gao
                                        </h6>

                                        <h6 class="card-text">Google
                                        </h6>

                                        <div class="row ml-1 mr-1 p-0">


                                            <div class="website-icon">
                                                <div class="icon" data-toggle="tooltip" title="Website">
                                                    <a href="https://ruiqigao.github.io/" title="Website" target="_blank"
                                                        rel="noopener noreferrer"><i
                                                            class="fas fa-address-card"></i></a>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Xingchao Liu -->
                    <div class="card-item col">
                        <div class="card">
                            <div class="row g-0">
                                <div class="card-img col-md-6">

                                    <img src="/assets/base_img/xingchao.png" srcset="/assets/base_img/xingchao.png"
                                        style="width: 150px; height: 150px; object-fit: contain;">

                                </div>
                                <div class=" col-md-6">
                                    <div class="card-body">
                                        <h6 class="card-title"> Xingchao Liu
                                        </h6>

                                        <h6 class="card-text"> University of Texas
                                        </h6>

                                        <div class="row ml-1 mr-1 p-0">


                                            <div class="website-icon">
                                                <div class="icon" data-toggle="tooltip" title="Website">
                                                    <a href="https://gnobitab.github.io/" title="Website" target="_blank"
                                                        rel="noopener noreferrer"><i
                                                            class="fas fa-address-card"></i></a>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Guan-Horng Liu -->
                    <div class="card-item col">
                        <div class="card">
                            <div class="row g-0">
                                <div class="card-img col-md-6">

                                    <img src="/assets/base_img/guan.png" srcset="/assets/base_img/guan.png"
                                        style="width: 150px; height: 150px; object-fit: contain;">

                                </div>
                                <div class="col-md-6">
                                    <div class="card-body">
                                        <h6 class="card-title"> Guan-Horng Liu
                                        </h6>

                                        <h6 class="card-text"> Georgia Institute of Technology
                                        </h6>

                                        <div class="row ml-1 mr-1 p-0">

                                            <div class="website-icon">
                                                <div class="icon" data-toggle="tooltip" title="Website">
                                                    <a href="https://ghliu.github.io/" title="Website"
                                                        target="_blank" rel="noopener noreferrer"><i
                                                            class="fas fa-address-card"></i></a>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Yaron Lipman -->
                    <div class="card-item col">
                        <div class="card">
                            <div class="row g-0">
                                <div class="card-img col-md-6">

                                    <img src="/assets/base_img/yaron.png" srcset="/assets/base_img/yaron.png"
                                        style="width: 150px; height: 150px; object-fit: contain;">

                                </div>
                                <div class=" col-md-6">
                                    <div class="card-body">
                                        <h6 class="card-title"> Yaron Lipman
                                        </h6>

                                        <h6 class="card-text">Weizmann Institute, Meta AI
                                        </h6>

                                        <div class="row ml-1 mr-1 p-0">


                                            <div class="website-icon">
                                                <div class="icon" data-toggle="tooltip" title="Website">
                                                    <a href="https://scholar.google.com/citations?hl=en&user=vyteiT4AAAAJ" title="Website"
                                                        target="_blank" rel="noopener noreferrer"><i
                                                            class="fas fa-address-card"></i></a>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
        <br>
    
        <br>
        <br>

    <div class="speakers">
      <h2>Organizers</h2>

      <div class="container">
        <div class="row row-cols-2">
          
           <!-- Hannes Stark -->
          <div class="card-item col">
            <div class="card">
              <div class="row g-0">
                <div class="card-img col-md-6">


                  <img src="/assets/base_img/hannes.png" srcset="/assets/base_img/hannes.png">

                </div>
                <div class="col-md-6">
                  <div class="card-body">
                    <h6 class="card-title">Hannes Stark
                    </h6>

                    <h6 class="card-text">MIT
                    </h6>

                    <div class="row ml-1 mr-1 p-0">

                       
                      <div class="icon" data-toggle="tooltip" title="Twitter">
                        <a href="https://twitter.com/HannesStaerk" title="Twitter" target="_blank"
                          rel="noopener noreferrer"><i class="fab fa-twitter"></i></a>
                      </div>


                       
                      <div class="google-scholar-icon">
                        <div class="icon" data-toggle="tooltip" title="Goole Scholar">
                          <a href="https://scholar.google.com/citations?user=bnXfJdEAAAAJ" title="GooleScholar"
                            target="_blank" rel="noopener noreferrer"><i class="ai ai-google-scholar"></i></a>
                        </div>
                      </div>


                       
                      <div class="website-icon">
                        <div class="icon" data-toggle="tooltip" title="Website">
                          <a href="https://hannes-stark.com/" title="Website" target="_blank"
                            rel="noopener noreferrer"><i class="fas fa-address-card"></i></a>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <div class="card-item col">
            <div class="card">
              <div class="row g-0">
                <div class="card-img col-md-6">



                  <img src="/assets/base_img/heli.png" srcset="/assets/base_img/heli.png">

                </div>
                <div class="col-md-6">
                  <div class="card-body">
                    <h6 class="card-title">Heli-Ben Hamu
                    </h6>

                    <h6 class="card-text">Weizmann Institute
                    </h6>

                    <div class="row ml-1 mr-1 p-0">

                       
                      <div class="icon" data-toggle="tooltip" title="Twitter">
                        <a href="https://twitter.com/helibenhamu" title="Twitter" target="_blank"
                          rel="noopener noreferrer"><i class="fab fa-twitter"></i></a>
                      </div>


                       
                      <div class="google-scholar-icon">
                        <div class="icon" data-toggle="tooltip" title="Goole Scholar">
                          <a href="https://scholar.google.com/citations?user=DL6Gk3AAAAAJ&hl=en" title="GooleScholar"
                            target="_blank" rel="noopener noreferrer"><i class="ai ai-google-scholar"></i></a>
                        </div>
                      </div>


                       
                      <div class="website-icon">
                        <div class="icon" data-toggle="tooltip" title="Website">
                          <a href="https://helibenhamu.github.io/" title="Website" target="_blank" rel="noopener noreferrer"><i
                              class="fas fa-address-card"></i></a>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="card-item col">
            <div class="card">
              <div class="row g-0">
                <div class="card-img col-md-6">

                  <img src="/assets/base_img/vignesh.png" srcset="/assets/base_img/vignesh.png">

                </div>
                <div class="col-md-6">
                  <div class="card-body">
                    <h6 class="card-title">Vignesh Ram Somnath
                    </h6>

                    <h6 class="card-text">ETH Zurich
                    </h6>
                    <div class="row ml-1 mr-1 p-0">

                       
                      <div class="icon" data-toggle="tooltip" title="Twitter">
                        <a href="https://twitter.com/_vsomnath" title="Twitter" target="_blank"
                          rel="noopener noreferrer"><i class="fab fa-twitter"></i></a>
                      </div>


                       
                      <div class="google-scholar-icon">
                        <div class="icon" data-toggle="tooltip" title="Goole Scholar">
                          <a href="https://scholar.google.com/citations?user=dhirXLcAAAAJ&hl=en" title="GooleScholar"
                            target="_blank" rel="noopener noreferrer"><i class="ai ai-google-scholar"></i></a>
                        </div>
                      </div>


                       
                      <div class="website-icon">
                        <div class="icon" data-toggle="tooltip" title="Website">
                          <a href="https://vsomnath.github.io/" title="Website" target="_blank" rel="noopener noreferrer"><i
                              class="fas fa-address-card"></i></a>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="card-item col">
            <div class="card">
              <div class="row g-0">
                <div class="card-img col-md-6">

                  <img src="/assets/base_img/michael.png" srcset="/assets/base_img/michael.png">

                </div>
                <div class="col-md-6">
                  <div class="card-body">
                    <h6 class="card-title">Michael S. Albergo
                    </h6>

                    <h6 class="card-text">NYU
                    </h6>

                    <div class="row ml-1 mr-1 p-0">

                       
                      <div class="icon" data-toggle="tooltip" title="Twitter">
                        <a href="https://twitter.com/msalbergo" title="Twitter" target="_blank"
                          rel="noopener noreferrer"><i class="fab fa-twitter"></i></a>
                      </div>


                       
                      <div class="google-scholar-icon">
                        <div class="icon" data-toggle="tooltip" title="Goole Scholar">
                          <a href="https://scholar.google.com/citations?user=GQyCZ4kAAAAJ&hl=en" title="GooleScholar"
                            target="_blank" rel="noopener noreferrer"><i class="ai ai-google-scholar"></i></a>
                        </div>
                      </div>


                       
                      <div class="website-icon">
                        <div class="icon" data-toggle="tooltip" title="Website">
                          <a href="http://malbergo.me/" title="Website" target="_blank"
                            rel="noopener noreferrer"><i class="fas fa-address-card"></i></a>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="card-item col">
            <div class="card">
              <div class="row g-0">
                <div class="card-img col-md-6">

                  <img src="/assets/base_img/chenlin-v2.png" srcset="/assets/base_img/chenlin-v2.png">

                </div>
                <div class="col-md-6">
                  <div class="card-body">
                    <h6 class="card-title"> Chenlin Meng
                    </h6>

                    <h6 class="card-text"> Stanford
                    </h6>

                    <div class="row ml-1 mr-1 p-0">

                       
                      <div class="icon" data-toggle="tooltip" title="Twitter">
                        <a href="https://twitter.com/chenlin_meng" title="Twitter" target="_blank"
                          rel="noopener noreferrer"><i class="fab fa-twitter"></i></a>
                      </div>


                       
                      <div class="google-scholar-icon">
                        <div class="icon" data-toggle="tooltip" title="Goole Scholar">
                          <a href="https://scholar.google.com/citations?user=nEFU7wIAAAAJ" title="GooleScholar"
                            target="_blank" rel="noopener noreferrer"><i class="ai ai-google-scholar"></i></a>
                        </div>
                      </div>


                       
                      <div class="website-icon">
                        <div class="icon" data-toggle="tooltip" title="Website">
                          <a href="https://cs.stanford.edu/~chenlin/" title="Website" target="_blank"
                            rel="noopener noreferrer"><i class="fas fa-address-card"></i></a>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <div class="card-item col">
            <div class="card">
              <div class="row g-0">
                <div class="card-img col-md-6">

                  <img src="/assets/base_img/arnaud.png" srcset="/assets/base_img/arnaud.png", style="width: 150px; height: 120px; object-fit: contain;">

                </div>
                <div class="col-md-6">
                  <div class="card-body">
                    <h6 class="card-title">Arnaud Doucet
                    </h6>

                    <h6 class="card-text"> Google DeepMind
                    </h6>

                    <div class="row ml-1 mr-1 p-0">

                       
                      <div class="icon" data-toggle="tooltip" title="Twitter">
                        <a href="https://twitter.com/ArnaudDoucet1" title="Twitter" target="_blank"
                          rel="noopener noreferrer"><i class="fab fa-twitter"></i></a>
                      </div>


                       
                      <div class="google-scholar-icon">
                        <div class="icon" data-toggle="tooltip" title="Goole Scholar">
                          <a href="https://scholar.google.co.uk/citations?user=W4SZGV8AAAAJ&hl=en" title="GooleScholar"
                            target="_blank" rel="noopener noreferrer"><i class="ai ai-google-scholar"></i></a>
                        </div>
                      </div>


                       
                      <div class="website-icon">
                        <div class="icon" data-toggle="tooltip" title="Website">
                          <a href="https://www.stats.ox.ac.uk/~doucet/" title="Website" target="_blank"
                            rel="noopener noreferrer"><i class="fas fa-address-card"></i></a>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
    </div>
    <br>


    <br>
    <div class="speakers">
        <h2>Sponsors</h2>
        <div class="container">
          We would like to thank <b>Valence Labs</b> for sponsoring the workshop, and <b>NVIDIA</b> for providing a GPU to our prize winners.
        </div>
      </div>


    <br>
    <h3 class="post-title"><span class="font-weight-bold">Questions</span></h3>
    Contact us at
    <a href="mailto:bridgelearningworkshop2024@gmail.com" target="_blank">bridgelearningworkshop2024@gmail.com</a>.

  </article>

</div>